<app-nav></app-nav>

<div class="container">
  <!-- <app-carosel></app-carosel> -->
  <br>
  <div class="row">
      <div class="custom-cards" *ngFor="let quote of quotes, let i = index">
        <div class="card custom-card" appBackground>
            <div class="card-body">
                <p class="card-text">{{quote.quote}} ~ <b><em class="color">{{quote.name}}</em></b> </p>
                <div class="row">
                  <div class="col-sm-6">
                    <p><b>{{quote.completeDate | count}}</b></p>
                  </div>
                </div>

                <div class="row">
                  <div class="icons col-sm-6">
                    <ul class=" ps-0" >
                      <!-- <i class="upvote far fa-thumbs-up">
                        <b><span class="text-danger"> 679</span></b>
                      </i>
                      <i class="downvote far fa-thumbs-down">
                        <b><span class="text-primary">29</span></b>
                      </i> -->
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <app-delete [quote]="quote" (iscomplete)="completeQuote($event,i)"></app-delete>
                  </div>
                </div>
            </div>
        </div><br>
    </div>
</div>
  <app-form (addQuote)="addNewGoal($event)"></app-form>
</div>