.custom{
    margin: 0;
    padding: 0;
}
#name{
    margin: 0;
    padding: 10px;
}
button{
    padding-bottom: 10px;
}
textarea:focus, textarea:active{
    outline: none;
}
.black{
    background: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
